.c-card {
    display: grid;

    gap: 20px;
    margin: 0 auto;
    inline-size: 90%; 
    max-inline-size: 375px;
    border-radius: 16px;
    padding-block: var(--spacing-default);
    background-color: var(--card-background-color);
    box-shadow: 10px 10px 0 var(--text-color-primary);
    outline: 1px solid var(--text-color-primary);
}
.c-card__start {
    inline-size: 100%;
    block-size: 230px;
}

 .c-card__image {
    inline-size: 100%;
    block-size: 200px;
    object-fit: cover;
    border-radius: 12px;
 }


.c-card__content {
    display: grid;
    align-items: center;
}
 .c-card__tag {
    display: block;
    inline-size: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--background-color);
    font-size: 14px;
    font-weight: var(--font-weight-bold);
 }

 .c-card__date {
    font-size: 12px;
 }

 .c-card__headline {
    margin: 0;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
 }

 .c-card__text {
    font-size: 14px;
    color: var(--text-color-secondary);
    margin-block-end: 24px;
 }

.c-card__author {
    display: flex;
    align-items: center;
    gap: 12px;
}

 .c-card__author-image {
    inline-size: 30px;
 }

.c-card__author-name {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
  }