:root {
  --card-border-radius: 16px;
  --card-border-radius-small: 4px;
  --card-gap: 12px;
}

.c-card {
  display: grid;
  margin: 0 auto;
  inline-size: 90%;
  max-inline-size: 375px;
  border-radius: var(--card-border-radius);
  padding-block: var(--spacing-default);
  background-color: var(--card-background-color);
  box-shadow: 10px 10px 0 var(--text-color-primary);
  outline: 1px solid var(--text-color-primary);
}

.c-card__start {
  inline-size: 100%;
  block-size: 230px;
}

.c-card__image {
  inline-size: 100%;
  block-size: 200px;
  object-fit: cover;
  border-radius: var(--card-border-radius);
}

.c-card__content {
  display: grid;
  align-items: center;
}
.c-card__tag {
  display: block;
  inline-size: fit-content;
  padding: var(--spacing-xxs) var(--spacing-s);
  border-radius: var(--card-border-radius-small);
  background-color: var(--background-color);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.c-card__date {
  font-size: var(--font-size-xs);
}

.c-card__headline {
  margin: 0;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.c-card__headline:hover {
  color: var(--background-color);
}

.c-card__headline:active {
  color: var(--text-color-primary);
}

.c-card__text {
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-block-end: var(--spacing-default);
}

.c-card__author {
  display: flex;
  align-items: center;
  gap: var(--card-gap);
}

.c-card__author-image {
  inline-size: 30px;
}

.c-card__author-name {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

@media only screen and (min-width: 992px) {
  .c-card {
    inline-size: 50%;
    max-inline-size: 1440px;
  }
}
