<div class="c-card">
    <div class="c-card__start">
        <img src="/src/assets/images/illustration-article.svg" alt="Drawers image" class="c-card__image">
    </div>
    <div class="c-card__end">
        <div class="c-card__content">
            <span class="c-card__label">Learning</span>
            <p class="c-card__date">Published 21 Dec 2023</p>
            <h2 class="c-card__headline">HTML & CSS foundations</h2>
            <p class="c-card__text">These languages are the backbone of every website, defining structure, content, and presentation.</p>
            <div class="c-card__author">
                <img src="/src/assets/images/image-avatar.webp" alt="Greg Hooper" class="c-card__author-image">
                <span class="c-card__author-name">Greg Hooper</span>
            </div>
        </div>
</div>