<!doctype html>
<html lang="en">
<head>
    <title>Blog Preview Card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Azubi setup for development">
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>

